@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


:root {
  --background: #ffffff;
  --foreground: #004349;
  --primary: #19d0bc;
  --secondary: #edf7f6;
  --black: #121414;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  font-family: var(--font-figtree), sans-serif;
}
