@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@theme {
  /* Base colors */
  --color-primary: #1e4d53;
  --color-secondary: #97f4e5;
  --color-tertiary: #23a18c;
  --color-fortiary: #158774;
  --color-ring: #0c5e50;
  --color-black: #121414;
  --color-white: #ffffff;

  /* Extended palette */
  --color-gray-50: #f8fafa;
  --color-gray-100: #eef1f1;
  --color-gray-200: #e1e5e5;
  --color-gray-300: #cfd4d4;
  --color-gray-400: #9ea4a4;
  --color-gray-500: #6e7474;
  --color-gray-600: #4e5454;
  --color-gray-700: #3e4444;
  --color-gray-800: #2e3434;
}

body {
  font-family: var(--font-figtree), sans-serif;
}

@layer utilities {
  .parallax-content {
    transform: translateY(calc(var(--scroll) * 0.4));
    transition: transform 0.1s ease-out;
  }
}
